*.sw?
compile_commands.json
dist
doctrees
html

build/
install/
cmake-build-*
_skbuild/
tools/build-sanitizer/
tools/install-sanitizer/
.clangd/
.idea/
.vscode/
*.ipynb_checkpoints
__pycache__/
CMakeSettings.json
.vs/
.virtual_documents
.hypothesis
.pytest_cache
.mypy_cache
src/scipp.egg-info
.tox

# Files from editable installs
src/include/
src/lib/
src/scipp/_scipp.cpython*
