*.sw?
compile_commands.json
dist
doctrees
html
!src/scipp/html
!tests/html/html_repr_test.py

build/
install/
cmake-build-*
_skbuild/
tools/build-sanitizer/
tools/install-sanitizer/
.clangd/
.idea/
*.ipynb_checkpoints
__pycache__/
CMakeSettings.json
.vs/
.virtual_documents
.hypothesis
.pytest_cache
.mypy_cache
src/scipp.egg-info
.tox
conda/package

### VisualStudioCode ###
.vscode/*

# Files from editable installs
src/include/
src/lib/
src/lib64/
src/scipp/_scipp.cpython*
src/scipp/_scipp.so
*.so

# Created by setuptools_scm for wheel builds
src/scipp/_version.py
