[build-system]
requires = [
  "setuptools>=42",
  "wheel",
  "cmake>=3.18",
  "conan",
  "ninja",
  "scikit-build",
  "tbb-devel",
]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
archs = ["auto64"]
test-extras = ["test", "all"]
test-command = "pytest {project}/tests"
# PyPy builds fail with an error about ninja, probably https://github.com/pypa/setuptools/issues/2912
# tbb-devel not available for musllinux
skip = ["pp*", "*musllinux*"]
