$header

from pathlib import Path
from typing import Any, Callable, Dict, Iterable, Iterator, List, Literal, Mapping, \
    Optional, Sequence, Tuple, Union, overload

from .bins import Bins
from ..units import default_unit
from ..typing import VariableLike, VariableLikeType, Dims
from ..coords.graph import GraphDict
from .._binding import _NoDefault

$dunder_all

$classes