<!--
    Style Sheet Dependencies:
        - scipp.visualization style.css
        - scipp.visualization datagroup.css
-->

<ul class='dg-detail-list'>
    ${summary_rows}
    <!--
        A sequence of <atomic_template> or <collapsible_template> here
        <li class='dg-detail-item'>
            <div>
                <MandatoryProperties>
                    name/parent_module/object_type/shape/dtype/unit/preview
                </MandatoryProperties>
                <OptionalProperties>
                    input(checkbox)/label/subsection
                </OptionalProperties>
            </div>
        </li>
        <li class='dg-detail-item'>
            ...
        </li>
        ...
    -->
</ul>