.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: initial !important;
}
.rst-content table.docutils td {
    vertical-align: top !important;
}
div[class^='highlight'] pre {
    white-space: pre;
    white-space: pre-wrap;
}

.wy-side-nav-search>a img.logo,
.wy-side-nav-search .wy-dropdown>a img.logo {
  width: 16rem
}

.wy-side-nav-search {
  background-color: #eee;
}

.wy-side-nav-search>div.version {
  display: none;
}
