name: Conda build

on:
  workflow_call:
    inputs:
      os:
        description: 'Operating system: ubuntu-22.04, macos-11, or windows-2019'
        required: true
        type: string
      target:
        description: 'Conda target: linux_64, osx_64, osx_arm64, or win_64'
        required: true
        type: string
      python-version:
        description: 'Python version such as 3.11'
        required: true
        type: string

defaults:
  run:
    shell: bash -l {0}  # required for conda env

jobs:
  build_conda:
    name: Package build (${{ inputs.target }}, py${{ inputs.python-version }})
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0  # history required so cmake can determine version

      - uses: conda-incubator/setup-miniconda@v3
      - run: >
          conda install
          --channel conda-forge
          --channel nodefaults
          --yes
          conda-build conda-forge-pinning
      - run: >
          conda build
          --channel conda-forge
          --variant-config-files=${CONDA_PREFIX}/conda_build_config.yaml
          --variant-config-files=${GITHUB_WORKSPACE}/conda/variants/${{ inputs.target }}.yaml
          --python="${{ inputs.python-version }}.* *_cpython"
          --no-anaconda-upload
          --override-channels
          --output-folder conda/package conda

      - uses: actions/upload-artifact@v4
        with:
          name: conda-package-${{ inputs.target }}-py${{ inputs.python-version }}
          path: conda/package/*/scipp*.tar.bz2
