name: C++ and Python coverage

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          # We use g++ from system instead of from conda, since we need to ensure that
          # a matching gcov is used. Otherwise coverage results are incomplete/broken.
          sudo apt install --yes lcov g++-11
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-11 100
          sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-11 100
          sudo update-alternatives --set g++ "/usr/bin/g++-11"
          sudo update-alternatives --set gcov "/usr/bin/gcov-11"

      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0  # history required so cmake can determine version

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          environments: test
          cache: true

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          key: coverage

      - name: C++ coverage
        run: |
          mkdir coverage_html
          pixi run -e test -- cmake --preset coverage
          pixi run -e test -- cmake --build --preset coverage
          mv build/coverage coverage_html/cpp

      - name: Python coverage
        run: |
          pixi run -e test coverage
          rm -f coverage_html/python/.gitignore

      - name: Setup HTML
        run: mv tools/scipp-coverage-index.html coverage_html/index.html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          repository-name: scipp/scipp-coverage
          branch: main
          folder: coverage_html
          single-commit: true
          ssh-key: ${{ secrets.COVERAGE_DEPLOY_KEY }}
