name: Docs

on:
  workflow_dispatch:
    inputs:
      publish:
        default: false
        type: boolean
      version:
        default: ''
        required: false
        type: string
      branch:
        description: 'Branch/tag with documentation source. If not set, the current branch will be used.'
        default: ''
        required: false
        type: string
  workflow_call:
    inputs:
      publish:
        default: false
        type: boolean
      version:
        default: ''
        required: false
        type: string
      branch:
        description: 'Branch/tag with documentation source. If not set, the current branch will be used.'
        default: ''
        required: false
        type: string

env:
  VERSION: ${{ inputs.version }}

jobs:
  docs:
    name: Build documentation
    runs-on: ubuntu-24.04
    steps:
      - run: sudo apt install --yes graphviz pandoc
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch == '' && github.ref_name || inputs.branch }}
          fetch-depth: 0  # history required so cmake can determine version
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/ci.txt
      - run: |
          sleep 120  # PyPI upload have a small delay until visible, avoid workflow fails in release builds
          tox --skip-pkg-install -e docs -- scipp=="${VERSION}"
          echo "target=$(python docs/version.py --version="${VERSION}" --action=get-target)" >> "$GITHUB_ENV"
        if: ${{ inputs.publish }}
      - run: tox -e docs
        if: ${{ !inputs.publish }}
      - uses: actions/upload-artifact@v4
        with:
          name: html
          path: html/

      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        if: ${{ inputs.publish }}
        with:
          repository-name: scipp/scipp.github.io
          branch: master
          folder: html
          target-folder: ${{ env.target }}
          single-commit: true
          ssh-key: ${{ secrets.GH_PAGES_DEPLOY_KEY }}
