name: Run tests against nightly dependencies

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  build_and_test:
    name: build and test ${{ matrix.variant.os }}, py${{ matrix.python-version }}
    runs-on: ${{ matrix.variant.os }}
    defaults:
      run:
        shell: bash -l {0}  # required for conda env
    strategy:
      fail-fast: false
      matrix:
        variant:
        - {os: ubuntu-24.04, cmake-preset: ci-linux}
        - {os: macos-15, cmake-preset: ci-macos}
        - {os: windows-2022, cmake-preset: ci-windows}
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0  # history required so cmake can determine version

      - uses: ilammy/msvc-dev-cmd@v1  # Required to set up MSVC dev environment for Ninja builds.

      - name: Setup conda environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: .buildconfig/${{ matrix.variant.cmake-preset }}.yml
          cache-environment: true
          create-args: python=${{ matrix.python-version }}

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          key: ${{ matrix.variant.os }}

      - run: cmake --preset ${{ matrix.variant.cmake-preset }}
      - run: cmake --build --preset build
      - run: ctest --preset test
      - run: tox -e nightlydeps -vvv
