name: Run tests against nightly dependencies

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  build_and_test:
    name: build and test ${{ matrix.variant.os }}, py${{ matrix.python-version }}
    runs-on: ${{ matrix.variant.os }}
    strategy:
      fail-fast: false
      matrix:
        variant:
        - {os: ubuntu-24.04, cmake-preset: ci-linux}
        - {os: macos-15, cmake-preset: ci-macos}
        - {os: windows-2022, cmake-preset: ci-windows}
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0  # history required so cmake can determine version

      - uses: ilammy/msvc-dev-cmd@v1  # Required to set up MSVC dev environment for Ninja builds.

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          environments: test
          cache: true

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          key: ${{ matrix.variant.os }}

      - run: pixi run -e test configure ${{ matrix.variant.cmake-preset }}
      - run: pixi run -e test cpp-test

      - name: Install nightly dependencies and run tests
        run: |
          pixi run -e test pip install --pre --index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple --extra-index-url https://pypi.org/simple numpy scipy h5py pandas xarray
          pixi run -e test python -X PYTHONWARNDEFAULTENCODING -m pytest -n auto -v tests
        env:
          PYTHONPATH: ${{ github.workspace }}/install
          JUPYTER_PLATFORM_DIRS: "1"
