name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true # cancel jobs from previous push

jobs:
  formatting:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          environments: lint
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - run: pixi run -e lint static
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Apply automatic formatting

  build_and_test:
    needs: formatting
    name: build and test ${{ matrix.variant.os }}, py${{ matrix.python-version }}
    runs-on: ${{ matrix.variant.os }}
    strategy:
      fail-fast: false
      matrix:
        variant:
        - {os: ubuntu-24.04, cmake-preset: ci-linux}
        - {os: macos-15, cmake-preset: ci-macos}
        - {os: windows-2022, cmake-preset: ci-windows}
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0 # history required so cmake can determine version

      - uses: ilammy/msvc-dev-cmd@v1 # Required to set up MSVC dev environment for Ninja builds.

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          environments: test docs type-check
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          key: ${{ matrix.variant.os }}

      - run: pixi run -e test configure ${{ matrix.variant.cmake-preset }}
      - run: pixi run -e test cpp-test

      - run: pixi run -e test import-minimal
      - run: pixi run -e test test

      - run: pixi run -e type-check mypy
        if: ${{ contains(matrix.variant.os, 'ubuntu') }}

      - run: pixi run -e docs docs
        if: ${{ contains(matrix.variant.os, 'ubuntu') }}

      - run: pixi run -e docs linkcheck
        # Linkcheck can be flaky. Avoid randomly breaking PR builds by running only on `main`
        if: ${{ contains(matrix.variant.os, 'ubuntu') && github.ref == 'refs/heads/main' }}

      - uses: actions/upload-artifact@v4
        if: ${{ contains(matrix.variant.os, 'ubuntu') }}
        with:
          name: DocumentationHTML
          path: html/
