name: Nightly Release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * *'

jobs:
  build_wheels:
    name: Wheels
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        build: [cp39, cp310]
    uses: ./.github/workflows/wheel.yml
    with:
      os: ${{ matrix.os }}
      build: ${{ matrix.build }}

  release:
    name: Make Release on GitHub
    needs: build_wheels
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - run: python .github/workflows/rename-dev-wheels.py
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: 'dist/*.whl'
          body: 'Nightly release for testing of downstream projects.'
          makeLatest: false
          prerelease: true
          removeArtifacts: true
          tag: 'nightly'
