name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  check_release:
    name: Check if package can be released
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          environments: lint
          cache: true
      - run: pixi run -e lint check-release
        if: github.event_name == 'release' && github.event.action == 'published'

  build_sdist:
    name: Build SDist
    needs: check_release
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0  # history required so cmake can determine version

    - name: Build SDist
      run: pipx run build --sdist

    - name: Check metadata
      run: pipx run twine check dist/*

    - uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/*.tar.gz

  build_wheels:
    name: Wheels
    needs: check_release
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-15-intel, macos-15, windows-2022, ubuntu-24.04-arm]
        build: [cp311, cp312, cp313, cp314, cp314t]
    uses: ./.github/workflows/wheel.yml
    with:
      os: ${{ matrix.os }}
      build: ${{ matrix.build }}

  upload_pypi:
    name: Deploy PyPI
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-24.04
    environment: release
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true
          pattern: 'dist*'
      - uses: pypa/gh-action-pypi-publish@v1.13.0

  manage-versions:
    name: Manage Versions
    needs: check_release
    runs-on: ubuntu-24.04
    outputs:
      version-new: ${{ steps.version.outputs.new }}
      version-replaced: ${{ steps.version.outputs.replaced }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # history required so cmake can determine version
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          environments: lint
          cache: true
      - name: Set outputs
        id: version
        run: |
          echo "new=$(pixi run -e lint python docs/version.py --version=${GITHUB_REF_NAME} --action=is-new)" >> $GITHUB_OUTPUT
          echo "replaced=$(pixi run -e lint python docs/version.py --version=${GITHUB_REF_NAME} --action=get-replaced)" >> $GITHUB_OUTPUT

  docs:
    needs: [upload_pypi, manage-versions]
    uses: ./.github/workflows/docs.yml
    with:
      publish: ${{ github.event_name == 'release' && github.event.action == 'published' }}
      version: ${{ github.ref_name }}
    secrets: inherit

  assets:
    name: Upload docs
    needs: docs
    runs-on: 'ubuntu-24.04'
    permissions:
      contents: write  # This is needed so that the action can upload the asset
    steps:
    - uses: actions/download-artifact@v4
    - name: Zip documentation
      run: |
        mv html documentation-${{ github.ref_name }}
        zip -r documentation-${{ github.ref_name }}.zip documentation-${{ github.ref_name }}
    - name: Upload release assets
      uses: svenstaro/upload-release-action@v2
      with:
        file: ./documentation-${{ github.ref_name }}.zip
        overwrite: false
